footer a:hover {
    color: #00a1e0 !important;
}

#btnScrollTop {
    background-color: #00a1e0 !important; /* Color normal */
    color: white !important;              /* Color flecha */
}

#btnScrollTop:hover {
    background-color: #0077b6 !important;
}

#btnScrollTop i {
    color: white !important;              /* Asegura la flecha en blanco */
}

.payment-logo {
    height: 28px;
    width: auto;
    object-fit: contain;
    display: block;
}

@media (max-width: 768px) {
    footer .col-md-3 {
        margin-bottom: 2rem;
    }
}
